@namespace ProjektFront.Shared
@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="user/watchlist" class="nav-item nav-link">WatchList</NavLink>
            <NavLink href="search" class="nav-item nav-link">Search</NavLink>
            <NavLink href="user/logout" class="nav-item nav-link">Logout</NavLink>
        </div>
    </nav>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    @Body
</div>

@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
}
